@media screen and (max-width: 600px) {
    .desription_wrapper {
      flex-direction: column;
      align-items: center;
    }
    .optimization-section{
        background-image: none !important;
    }
    .finish-section .finish_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .container .optimization-content-wrapper{
        float: none ;
    }
    .optimization-section .optimization_title{
        font-size: 25px;
    }
    .description_section .description_title, .finish-section .finish_title{
        font-size: 20px;
    }
    .bonus_section .bonus-txt{
        font-size: 20px;
    }
    .intro-section .intro_btn{
        font-size: 16px;
    }
    .intro-section .title{
        font-size: 20px;
    }
    .simple_title_container .title_big{
        font-size: 40px;
    }
    .intro-section h2.title{
        font-size: 20px;
    }
    .intro-section .intro_text{
        font-size: 14px;
    }
    .learn-more_container .learn-more_txt{
        font-size: 14px;
    }
    .description_section .description_subtitle{
        font-size: 16px;
    }
    .description_item .descr_text{
        margin-top: 10px;
    }
    .vebinar-time_section .vebinar-time_title{
        font-size: 20px;
    }
    .vebinar-time_section .vebinar-time-subtitle{
        font-size: 26px;
    }
    .vebinar-time_section .vebinar-time-txt{
        font-size: 18px;
    }
  }